<div class="modal-header">
    <h3 class="modal-title">新建社群</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data"
          action="/admin/community/save" name="addCommunityForm">
        <div class="form-group">
            <label for="communityNameInput" class="col-sm-2 control-label">社群名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="communityNameInput" name="name"
                       placeholder="社群名"
                       ng-model="communityCategoryBean.community.name" required>
                <input type="hidden" name="communityId"
                       ng-value="communityCategoryBean.community.id">
            </div>
        </div>
        <div class="form-group">
            <label for="communityCategorySelect" class="col-sm-2 control-label">社群类别</label>
            <div class="col-sm-10">
                <select required id="communityCategorySelect"
                        ng-options="category.name for category in categories track by category.id"
                        ng-model="currentCategory">
                </select>
                <input type="hidden" name="categoryId" ng-value="currentCategory.id">
            </div>
        </div>
        <div class="form-group">
            <label for="summaryTextArea" class="col-sm-2 control-label">社群简介</label>
            <div class="col-sm-10">
                <textarea id="summaryTextArea" class="form-control" name="description"
                          ng-model="communityCategoryBean.community.description" required
                          placeholder="输入对社群的简介">

                </textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="sloganInput" class="col-sm-2 control-label">阅读口号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sloganInput" name="slogan"
                       placeholder="阅读口号" ng-model="communityCategoryBean.community.slogan"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label for="communityImageInput" class="col-sm-2 control-label">社群图片</label>
            <div class="col-sm-10">
                <input type="file" name="file" id="communityImageInput" accept="image/*"
                       class="community-input-file"
                       file-model="communityImageFile" ng-required="!communityImageFile"><br/>
                <br/>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit" ng-disabled="addCommunityForm.$invalid"
    ng-click="communityAddCtrl.save()">保存
    </button>
    <button class="btn btn-primary" type="button" ng-click="$close()">取消</button>
</div>