<div class="main-content-wrapper">
    <div class="row search-or-add">
        <div class="col-lg-6">
            <button type="button" class="btn btn-success"
                    ng-click="communityCtrl.addCommunity()"><i class="fa fa-plus"></i>&nbsp;&nbsp;新建社群
            </button>
        </div>
    </div>
    <div class="row list-book">
        <table class="table table-hover admin-info-table">
            <thead>
            <tr>
                <th>社群名称</th>
                <th>简介</th>
                <th>阅读口号</th>
                <th>logo</th>
                <th>类别</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ccBean in communityCtrl.communityCategoryBean track by $index">
                <td>{{ccBean.community.name}}</td>
                <td>{{ccBean.community.description}}</td>
                <td>{{ccBean.community.slogan}}</td>
                <td class="community-image"><img ng-src="{{ccBean.community.image}}"></td>
                <td>{{ccBean.category.name}}</td>
                <td>{{ccBean.community.createTime}}</td>
                <td class="operations">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-primary"
                                uib-dropdown-toggle ng-disabled="disabled">
                            <i class="fa fa-md fa-cog"></i>操作 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu book-operations" uib-dropdown-menu role="menu"
                            aria-labelledby="single-button">
                            <li role="menuitem"><a href=""
                                                   ng-click="communityCtrl.editCommunity(ccBean)">编辑</a>
                            </li>
                            <li role="menuitem"><a href=""
                                                   ng-click="communityCtrl.deleteCommunity(ccBean.community.id)">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>