
.navbar.mark-navbar {
    height: 40px !important;
    min-height: 40px;
    margin-bottom: 0 !important;
    background: #205081;
    border-color: #205081;
    color: #FFF !important;
}

.navbar > .container .navbar-brand {
    color: #FFF;
    float: left;
    height: 40px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

.mark-navbar .navbar-nav > li > a {
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mark-navbar .navbar-nav > li > a:hover {
    color: #FFF;
    text-decoration: none;
    color: #fff;
    background-color: #3b73af;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #e9e9e9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav > li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav > li > a {
    display: block;
    text-decoration: none;
    color: #3b73af;
}

.sidebar-nav > li > a.active,
.sidebar-nav > li > a:hover,
.sidebar-nav > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #3b73af;
}

.sidebar-nav > li > a:active,
.sidebar-nav > li > a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.admin-info-table > tbody > tr > td,
.admin-info-table > tbody > tr > th,
.admin-info-table > tfoot > tr > td,
.admin-info-table > tfoot > tr > th,
.admin-info-table > thead > tr > td,
.admin-info-table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.admin-info-table > thead > tr {
    background-color: #eee;
    border-bottom: none;
}

/*图书管理*/
.row.search-or-add .col-lg-6 {
    margin-left: -15px;
}

.row.list-book {
    margin-top: 20px;
}

.book-image > img {
    width: 60px;
    height: 100px;
}

.operations .fa-cog {
    padding-right: 5px;
}

.dropdown-menu.book-operations {
    top: 100%;
    right: 0 !important;
    left: inherit;
}

/*用户管理*/
.row.list-users {
    margin-top: 20px;
}

.user-head-image > img {
    width: 50px;
    height: 50px;
}

/*社群管理*/
.row.list-communities {
    margin-top: 20px;
}

.community-image > img {
    width: 50px;
}

form[name="editCommunityForm"] .preview-image > img {
    width: 300px;
}


.row.list-groups {
    margin-top: 20px;
}